.nav-bar{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a1f3a;
    color: white;
}

.nav-bar > p{
    font-size: 2rem;
    font-weight: 600;
    margin: 0px;
    padding: 10px 0px;;
}

@media (max-width: 320px) {
  .nav-bar > p {
    font-size: 1.7rem !important;
  }
}

